<div class="container-fluid">
    <h1 class="text-center">{{ title }}</h1>

    <!-- Header -->
    <div class="row">
        <div class="col-4 d-grid gap-2 d-md-block text-center">
            <button type="button" [routerLink]="['/cat/transaction', curTransactionId, 'postgroups']"
                class="btn btn-outline-primary mt-4 me-2">
                Zu Postgruppen
            </button>
            <button type="button" (click)="onClickModalCreate()" class="btn btn-outline-success mt-4">
                Neues Post
            </button>
        </div>
        <div class="col-4">
            <div class="container" *ngIf="transactions">
                <label for="transactionSelect">Transactionen: </label>
                <select id="transactionSelect" class="form-select mb-3" [(ngModel)]="curTransactionId"
                    (ngModelChange)="onChangeSelectTransactions($event)">
                    <option *ngFor="let transaction of transactions" [value]="transaction.id">
                        {{ transaction.dsg }}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="container" *ngIf="postGroups">
                <label for="postgroupSelect">Transactionen: </label>
                <select id="postgroupSelect" class="form-select mb-3" [(ngModel)]="curPostGroupId"
                    (ngModelChange)="onChangeSelectPostGroups($event)">
                    <option *ngFor="let postGroup of postGroups" [value]="postGroup.id">
                        {{ postGroup.dsg }}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <!-- Tabelle -->
    <div class="row" *ngIf="posts">
        <div class="table-responsive">
            <table class="table table-bordered table-dark table-striped table-hover">
                <thead class="text-center">
                    <tr>
                        <th score="col"><span>Rang</span></th>
                        <th score="col"><span>Bezeichnung</span></th>
                        <th score="col"><span>Beschreibung</span></th>
                        <th score="col"><span>Aktiv</span></th>
                        <th score="col"><span>Transfer</span></th>
                        <th score="col"><span>Cash</span></th>
                        <th score="col"><span>Aktionen</span></th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let post of posts">
                        <td score="row"><span>{{ post.rnk }}</span></td>
                        <td><span>{{ post.dsg }}</span></td>
                        <td><span>{{ post.dsc }}</span></td>
                        <td>
                            <i *ngIf="!post.act" class="bi bi-square me-2" style="color: red"></i>
                            <i *ngIf="post.act" class="bi bi-check-square me-2" style="color: green"></i>
                        </td>
                        <td>
                            <i *ngIf="!post.trf" class="bi bi-square me-2" style="color: red"></i>
                            <i *ngIf="post.trf" class="bi bi-check-square me-2" style="color: green"></i>
                        </td>
                        <td>
                            <i *ngIf="!post.csh" class="bi bi-square me-2" style="color: red"></i>
                            <i *ngIf="post.csh" class="bi bi-check-square me-2" style="color: green"></i>
                        </td>
                        <td>
                            <!-- Update -->
                            <a type="botton" (click)="onClickModalUpdate(post)" class="btn table-link text-info">
                                <i class="bi bi-pencil-square"></i>
                                <span> bearbeiten</span>
                            </a>
                            <!-- Delete -->
                            <a *ngIf="!post.act && !post.trf && !post.csh" type="botton"
                                (click)="onClickModalDelete(post)" class="btn table-link text-danger">
                                <i class="bi bi-x-square"></i>
                                <span> löschen</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="!posts">
        <p>Fehler</p>
    </div>
</div>

<!-- Modal-Dialogs -->
<!-- Add/Upd Modal -->
<div class="modal fade" data-bs-theme="dark" data-bs-backdrop="static" [id]="modalId.ADD_UPD" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-light">
            <!-- Header -->
            <div class="modal-header">
                <h5 class="modal-title">
                    Post {{ isEditMode ? 'bearbeiten' : 'hinzufügen' }}
                </h5>
                <button type="button" (click)="onClickCloseModal(modalId.ADD_UPD)" class="btn-close"
                    data-bs-dismiss="modal" aria-label="Schließen">
                </button>
                <br>
            </div>
            <!-- Form -->
            <app-post-form *ngIf="isModalOpen" [post]="updPost" [postGroupId]="curPostGroupId"
                (submitPost)="handlePostSave($event)">
            </app-post-form>
        </div>
    </div>
</div>

<!-- Del Modal -->
<div class="modal fade" data-bs-theme="dark" data-bs-backdrop="static" [id]="modalId.DELETE" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-light">
            <!-- Header -->
            <div class="modal-header">
                <h5 class="modal-title">Post löschen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>Soll das Post '{{ delPost?.id }}. {{ delPost?.dsg }}' wirklich gelöscht werden?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="onClickCloseModal(modalId.DELETE)">Schließen</button>
                <button type="button" (click)="handlePostDelete(delPost!)" class="btn btn-danger">
                    Löschen
                </button>
            </div>
        </div>
    </div>
</div>