<div class="container-fluid">
    <h1 class="text-center">{{ title }}</h1>

    <!-- Header -->
    <div class="row">
        <div class="col-2 d-grid gap-2 d-md-block text-center mb-3">
            <button type="button" (click)="onClickModalCreate()" class="btn btn-outline-success">
                Neue Kontengruppe
            </button>
        </div>
    </div>

    <!-- Tabelle -->
    <div class="row" *ngIf="accountGroups">

        <div class="table-responsive">
            <table class="table table-bordered table-dark table-striped table-hover">
                <thead class="text-center">
                    <tr>
                        <!--<th score="col"><span>Id</span></th>-->
                        <th score="col"><span>Rang</span></th>
                        <th score="col"><span>Bezeichnung</span></th>
                        <th score="col"><span>Beschreibung</span></th>
                        <th score="col"><span>Aktiv</span></th>
                        <th score="col"><span>Anzeigen</span></th>
                        <th score="col"><span>Konten</span></th>
                        <th score="col"><span>Aktionen</span></th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let accountGroup of accountGroups">
                        <!--<th><span>{{ accountGroup.id }}</span></th>-->
                        <td score="row"><span>{{ accountGroup.rnk }}</span></td>
                        <td>
                            <a type="botton" [routerLink]="['/cat/accountgroup/', accountGroup.id, 'accounts']"
                                class="btn table-link text-warning">
                                <span>{{ accountGroup.dsg }}</span>
                            </a>
                        </td>
                        <td><span>{{ accountGroup.dsc }}</span></td>
                        <td>
                            <i *ngIf="!accountGroup.act" class="bi bi-square me-2" style="color: red"></i>
                            <i *ngIf="accountGroup.act" class="bi bi-check-square me-2" style="color: green"></i>
                        </td>
                        <td>
                            <i *ngIf="!accountGroup.shw" class="bi bi-square" style="color: red"></i>
                            <i *ngIf="accountGroup.shw" class="bi bi-check-square" style="color: green"></i>
                        </td>
                        <td><span>{{ accountGroup.accounts?.length }}</span></td>
                        <td>
                            <!-- Update -->
                            <a type="botton" (click)="onClickModalUpdate(accountGroup)"
                                class="btn table-link text-info">
                                <i class="bi bi-pencil-square"></i>
                                <span> bearbeiten</span>
                            </a>
                            <!-- Delete -->
                            <a type="botton"
                                *ngIf="!accountGroup.act && !accountGroup.shw && !accountGroup.accounts?.length"
                                (click)="onClickModalDelete(accountGroup)" class="btn table-link text-danger">
                                <i class="bi bi-x-square"></i>
                                <span> löschen</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal-Dialogs -->
<!-- Add/Upd Modal -->
<div class="modal fade" data-bs-theme="dark" data-bs-backdrop="static" id="accountGroupModal" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-light">
            <!-- Header -->
            <div class="modal-header">
                <h5 class="modal-title">
                    Kontengruppe {{ isEditMode ? 'bearbeiten' : 'anlegen' }}
                </h5>
                <button type="button" (click)="onClickCloseModal('accountGroupModal')" class="btn-close"
                    data-bs-dismiss="modal" aria-label="Schließen">
                </button>
                <br>
            </div>
            <!-- Body -->
            <!-- ToDo -->
            <app-accountgroup-form *ngIf="isModalOpen" [accountGroup]="updAccountGroup"
                (submitAccountGroup)="handleAccountGroupSave($event)">
            </app-accountgroup-form>
        </div>
    </div>
</div>

<!-- Del Modal -->
<div class="modal fade" data-bs-theme="dark" data-bs-backdrop="static" id="delAccountGroupModal" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-light">
            <!-- Header -->
            <div class="modal-header">
                <h5 class="modal-title">Kontengruppe löschen</h5>
                <button type="button" (click)="onClickCloseModal('accountGroupModal')" class="btn-close"
                    data-bs-dismiss="modal" aria-label="Schließen"></button>
                <br>
            </div>
            <!-- Body -->
            <div class="modal-body">
                <p>Soll die Kontengruppe '{{ delAccountGroup?.id }}. {{ delAccountGroup?.dsg }}' wirklich gelöscht
                    werden?</p>
            </div>
            <!-- Footer -->
            <div class="modal-footer">
                <button type="button" (click)="onClickCloseModal('delAccountGroupModal')" class="btn btn-secondary"
                    data-bs-dismiss="modal">
                    Schließen
                </button>
                <button type="button" (click)="handleAccountGroupDelete(delAccountGroup!)" class="btn btn-danger">
                    Löschen
                </button>
            </div>
        </div>
    </div>
</div>