<nav class="navbar fixed-top bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container-fluid justify-content-start">
    <!-- Logo -->
    <div class="logo me-2">
      <a [routerLink]="['']" class="navbar-brand">
        <i class="bi bi-cash-coin" style="color: green;"></i>
        Haushalt 8.0
      </a>
    </div>

    <!-- Dropdawn-Menu -->
    <ul class="nav nav-tabs">

      <!-- Documents -->
      <li class="nav-item dropdown">
        <button class="btn btn-outline-primary dropdown-toggle me-2" [class.active]="isBootonActive('/doc')"
          data-bs-toggle="dropdown" href="#" aria-expanded="false">
          <i class="bi bi-files me-2"></i>
          Dokumente
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" [routerLink]="['/doc/periods']">
              <i class="bi bi-calendar-month me-1" style="color: yellow;"></i>
              Periode
            </a>
          </li>
          <li>
            <a class="dropdown-item" [routerLink]="['/doc/documents']">
              <i class="bi bi-file-earmark-ruled me-1" style="color: red;"></i>
              Dokumente
            </a>
          </li>
        </ul>
      </li>


      <!--! Reports -->
      <li class="nav-item dropdown">
        <button class="btn btn-outline-danger dropdown-toggle me-2" [class.active]="isBootonActive('/rpt')"
          data-bs-toggle="dropdown" href="#" aria-expanded="false">
          <i class="bi bi-clipboard2-data me-2"></i>
          Berichte
        </button>
        <ul class="dropdown-menu">
          <li>
            <div>
              <i class="bi bi-credit-card-fill ms-3 me-1" style="color: yellow;"></i>
              <span>Konten</span>
            </div>
          </li>
          <li>
            <a class="dropdown-item" [routerLink]="['/rpt/accounts-balances']">
              <i class="bi bi-graph-down-arrow ms-2 me-1" style="color: red;"></i>
              <span> - Ausgaben</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" [routerLink]="['/rpt/accounts-balances']">
              <i class="bi bi-graph-up-arrow ms-2 me-1" style="color: green;"></i>
              <span> - Einkommen</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <i class="bi bi-database-fill ms-3 me-1" style="color: yellow;"></i>
            <span>Posten</span>
          </li>
          <li>
            <a class="dropdown-item" [routerLink]="['/rpt/posts-balances']">
              <i class="bi bi-database-fill-exclamation ms-2 me-1" style="color: red;"></i>
              <span> - Stände</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" [routerLink]="['/rpt/posts-balances']">
              <i class="bi bi-database-fill-up ms-2 me-1" style="color: green;"></i>
              <span> - Bewegungen</span>
            </a>
          </li>
        </ul>
      </li>


      <!-- Catalogs -->
      <li class="nav-item dropdown">
        <button class="btn btn-outline-info dropdown-toggle me-2" [class.active]="isBootonActive('/cat')"
          data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-info-circle me-2"></i>
          Kataloge
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" [routerLink]="['/cat/transactions']">
              <i class="bi bi-database-down me-1" style="color: green;"></i>
              Transaktionen
            </a>
          </li>
          <li>
            <a class="dropdown-item" [routerLink]="['/cat/postgroups']">
              <i class="bi bi-database-up me-1" style="color: red;"></i>
              Postgruppen
            </a>
          </li>
          <li>
            <a class="dropdown-item" [routerLink]="['/cat/posts']">
              <i class="bi bi-database-gear me-1" style="color: red;"></i>
              Posten
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" [routerLink]="['/cat/accountgroups']">
              <i class="bi bi-wallet-fill me-1" style="color: green;"></i>
              Kontengruppen
            </a>
          </li>
          <li>
            <a class="dropdown-item" [routerLink]="['/cat/accounts']">
              <i class="bi bi-credit-card-fill me-1" style="color: red;"></i>
              Konten
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <!-- [routerLink]="['/cat/accountgroups']" -->
            <a class="dropdown-item">
              <i class="bi bi-stickies-fill me-1" style="color: green;"></i>
              Konten zu Posten (ToDo)
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <!-- [routerLink]="['/cat/accounts']" -->
            <a class="dropdown-item">
              <i class="bi bi-info-circle-fill me-1" style="color: red;"></i>
              Dokumenten Information (ToDo)
            </a>
          </li>
        </ul>
      </li>


      <!-- Settings -->
      <!-- ToDo: Ändern -->
      <li class="nav-item dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle me-2" data-bs-toggle="dropdown" href="#"
          aria-expanded="false">
          <i class="bi bi-gear me-2"></i>
          Einstellungen
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#">
              <i class="bi bi-database-down me-1" style="color: green;"></i>
              Backup
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <i class="bi bi-database-up me-1" style="color: red;"></i>
              Name ?
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <i class="bi bi-database-gear me-1" style="color: red;"></i>
              Name ?
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<!-- Seiten -->
<main>
  <router-outlet></router-outlet>
</main>