<nav class="navbar fixed-top bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container-fluid justify-content-start">
    <!-- Logo -->
    <div class="logo me-2">
      <a [routerLink]="['']" class="navbar-brand">
        <i class="bi bi-cash-coin" style="color: green;"></i>
        Haushalt 8.0
      </a>
    </div>

    <!-- Dropdawn-Menu -->
    <ul class="nav nav-tabs">
      <!-- Documents -->
      <button [routerLink]="['documents']" routerLinkActive="active" class="btn btn-outline-primary me-2" type="button">
        <i class="bi bi-files me-2"></i>
        Dokumente
      </button>
      <!-- ToDo: Am Ende löschen
          <li class="nav-item dropdown">
              <button class="btn btn-outline-primary dropdown-toggle me-2" data-bs-toggle="dropdown" href="#"
                  aria-expanded="false">
                  <i class="bi bi-files me-2"></i>
                  Dokumente
              </button>
              <ul class="dropdown-menu">
                  <li>
                      <a class="dropdown-item" href="#">
                          <i class="bi bi-credit-card me-1" style="color: yellow;"></i>
                          Kontenauszüge
                      </a>
                  </li>
                  <li>
                      <a class="dropdown-item" href="#">
                          <i class="bi bi-folder-minus me-1" style="color: red;"></i>
                          Ausgaben
                      </a>
                  </li>
                  <li>
                      <a class="dropdown-item" href="#">
                          <i class="bi bi-folder-plus me-1" style="color: green;"></i>
                          Einkommen
                      </a>
                  </li>
                  <li>
                      <a class="dropdown-item" href="#">
                          <i class="bi bi-piggy-bank me-1" style="color: palevioletred;"></i>
                          Überweisungen
                      </a>
                  </li>
              </ul>
          </li>
-->

      <!-- Reports -->
      <button [routerLink]="['reportss']" routerLinkActive="active" class="btn btn-outline-danger me-2" type="button">
        <i class="bi bi-clipboard2-data me-2"></i>
        Berichte
      </button>
      <!-- ToDo: Am Ende löschen
          <li class="nav-item dropdown">
              <button class="btn btn-outline-danger dropdown-toggle me-2" data-bs-toggle="dropdown" href="#"
                  aria-expanded="false">
                  <i class="bi bi-clipboard2-data me-2"></i>
                  Berichte
              </button>
              <ul class="dropdown-menu">
                  <li>
                      <a class="dropdown-item" href="#">
                          <i class="bi bi-graph-up-arrow me-1" style="color: green;"></i>
                          Einkommen
                      </a>
                  </li>
                  <li>
                      <a class="dropdown-item" href="#">
                          <i class="bi bi-graph-down-arrow me-1" style="color: red;"></i>
                          Ausgaben
                      </a>
                  </li>
                  <li>
                      <a class="dropdown-item" href="#">
                          <i class="bi bi-file-bar-graph me-1" style="color: blueviolet;"></i>
                          Kontostände
                      </a>
                  </li>
              </ul>
          </li>
      -->

      <!-- Catalogs -->
      <button [routerLink]="['transactions']" routerLinkActive="active" class="btn btn-outline-info me-2" type="button">
        <i class="bi bi-info-circle me-2"></i>
        Kataloge
      </button>



      <!-- Settings -->
      <!-- ToDo: Ändern -->
      <li class="nav-item dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle me-2" data-bs-toggle="dropdown" href="#"
          aria-expanded="false">
          <i class="bi bi-gear me-2"></i>
          Einstellungen
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#">
              <i class="bi bi-database-down me-1" style="color: green;"></i>
              Backup
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <i class="bi bi-database-up me-1" style="color: red;"></i>
              Name ?
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <i class="bi bi-database-gear me-1" style="color: red;"></i>
              Name ?
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>