<div class="container-fluid">
    <h1 class="text-center">{{ title }}</h1>

    <!-- Header -->
    <div class="row">
        <div class="col-4 d-grid gap-2 d-md-block text-center">
            <button type="button" [routerLink]="['/cat/accountgroups']" class="btn btn-outline-primary mt-4 me-2">
                Zu Kontengruppen
            </button>
            <button type="button" (click)="onClickModalCreate()" class="btn btn-outline-success mt-4">
                Neues Konto
            </button>
        </div>
        <div class="col-4">
            <div class="container" *ngIf="accountGroups">
                <label for="accountGroupSelect">Kontengruppen: </label>
                <select id="accountGroupSelect" class="form-select mb-3" [(ngModel)]="curAccountGroupId"
                    (ngModelChange)="onChangeSelectAccountGroup($event)">
                    <option *ngFor="let accountGroup of accountGroups" [value]="accountGroup.id">
                        {{ accountGroup.dsg }}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <!-- Body -->
    <div class="row" *ngIf="accounts">
        <div class="table-responsive">
            <table class="table table-bordered table-dark table-striped table-hover">
                <thead class="text-center">
                    <tr>
                        <th score="col"><span>Rang</span></th>
                        <th score="col"><span>Bezeichnis</span></th>
                        <th score="col"><span>Beschreibung</span></th>
                        <th score="col"><span>Aktiv</span></th>
                        <th score="col"><span>Speicher</span></th>
                        <th score="col"><span>Sichtbar</span></th>
                        <th score="col"><span>Aktionen</span></th>
                    </tr>
                </thead>

                <tbody class="text-center">
                    <tr *ngFor="let account of accounts">
                        <td score="row"><span>{{ account.rnk }}</span></td>
                        <td><span>{{ account.dsg }}</span></td>
                        <td><span>{{ account.dsc }}</span></td>
                        <td>
                            <i *ngIf="!account.act" class="bi bi-square me-2" style="color: red"></i>
                            <i *ngIf="account.act" class="bi bi-check-square me-2" style="color: green"></i>
                        </td>
                        <td>
                            <i *ngIf="!account.sav" class="bi bi-square me-2" style="color: red"></i>
                            <i *ngIf="account.sav" class="bi bi-check-square me-2" style="color: green"></i>
                        </td>
                        <td>
                            <i *ngIf="!account.shw" class="bi bi-square me-2" style="color: red"></i>
                            <i *ngIf="account.shw" class="bi bi-check-square me-2" style="color: green"></i>
                        </td>
                        <td>
                            <!-- Update  -->
                            <a type="botton" (click)="onClickModalUpdate(account)" class="btn table-link text-info">
                                <i class="bi bi-pencil-square"></i>
                                <span> bearbeiten</span>
                            </a>
                            <!-- Delete -->
                            <a type="botton" *ngIf="!account.act && !account.sav && !account.shw"
                                (click)="onClickModalDelete(account)" class="btn table-link text-danger">
                                <i class="bi bi-x-square"></i>
                                <span> löschen</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="!accounts">
        <p>Fehler</p>
    </div>
</div>


<!-- Modal-Dialogs -->
<!-- Add/Upd Modal -->
<div class="modal fade" data-bs-theme="dark" data-bs-backdrop="static" id="accountModal" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-light">
            <!-- Header -->
            <div class="modal-header">
                <h5 class="modal-title">
                    Konto {{ isEditMode ? 'bearbeiten' : 'anlegen' }}
                </h5>
                <button type="button" (click)="onClickCloseModal('accountModal')" class="btn-close"
                    data-bs-dismiss="modal" aria-label="Schließen"></button>
            </div>
            <!-- Body -->
            <app-account-form>

            </app-account-form>
        </div>
    </div>
</div>