<div class="container-fluid">
    <h1 class="text-center">{{ title }}</h1>

    <!-- Header -->

    <!-- Body -->
    <div class="row" *ngIf="transactions">
        <div class="table-responsive">
            <table class="table table-bordered table-dark table-striped table-hover">
                <thead class="text-center">
                    <tr>
                        <th score="col"><span>Rang</span></th>
                        <th score="col"><span>Bezeichnung</span></th>
                        <th score="col"><span>Postgruppen</span></th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let transaction of transactions">
                        <td scope="row"><span>{{ transaction.rnk }}</span></td>
                        <td>
                            <a type="botton" [routerLink]="['/cat/transaction/', transaction.id, 'postgroups']"
                                class="btn table-link text-warning">
                                <span>{{ transaction.dsg }}</span>
                            </a>
                        </td>
                        <td><span>{{ transaction.postgroups?.length }}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div *ngIf="!transactions">
        <p>Fehler</p>
    </div>
</div>